.mainbox{
    display: flex;
    padding: 10px;
    border: 2px black solid;
    width: 450px;
    margin: 20px;

    

}
.img{
    
}
.img img{
    height: 100px;
    width: 100px;
    margin-right:50px ;

}
.para p{
    text-align: center;
    font-size: large;
}

