.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-bottom: 2px solid black;
  }
  
  .logo{
    font-size: larger;
  }
  .logo :hover{
    text-decoration: underline;
  }
  
  .nav-links ul {
    display: flex;
    gap: 36px;
  }
  .nav-links ul li {
    list-style: none;
    font-weight: 500;
    font-size: large;
  }
  .nav-links ul li :hover{
    text-decoration: underline;
  }