.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 2px solid black;
    height: 50px;
  }
  
  .logo{
    font-size: larger;
    padding: 20px;
  }
  .logo:hover{
    text-decoration: underline;
  }
  
  .nav-links ul {
    display: flex;
    padding: 20px;
    gap: 36px;
  }
  .nav-links ul li {

    list-style: none;
    font-weight: 500;
    font-size: large;
  }
  .nav-links ul li :hover{
    text-decoration: underline;
  }