/* =========
    NAVBAR
  ========== */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  border-bottom: 2px solid black;
}

.logo{
  font-size: larger;
}

.nav-links ul {
  display: flex;
  gap: 36px;
}
.nav-links ul li {
  list-style: none;
  font-weight: 500;
  font-size: large;
}

/* =======
    HERO
  ======== */

.hero {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  border-bottom: 2px solid black;
}

.hero img {
  width: 40vw;
  height: auto;
}

.hero .txt {
  width: 30vw;
}

.hero-heading {
  font-size: 54px;
  font-family: "DM Serif Display", serif;
  font-weight: 900;
}

.txt p{
  font-size: large;
  margin-bottom: 20px;
}
#p1{
  margin: 20px 0;
}

.btns{
  display: flex;
  gap: 20px;
}

.btns button{
  padding: 8px 16px;
  font-size: medium;
  font-weight: 540;
}

#btn1{
  background-color: #fff;
}

#btn2{
  background-color: transparent;
}