*{
 
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#first{
    font-size:50px;
    display: flex;
    align-items: center;
}
#pbox{
   display: flex;
    justify-content: space-around;
}
.cbox{
    margin: 25px;
}