*{
    margin: 0px;
    font-style:italic;
    color: rgb(218, 208, 208);
    text-decoration: none;
    /* background-color: #414141; */
}
body{
    background: #70c1f8;
}
#nav{
    padding:15px 20px ;
    background: linear-gradient(135deg, #1f0b51, #100331, #1c0653);
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 10vw;
    
}
.navlink{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 20px ;

}
#form{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.inputform{
    width: 150px;
    margin-bottom: 20px;
}
.formbutton{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    color: aliceblue;
    background-color: #414141;

}
#greet{
    color:blueviolet;
}
.logo{
    border-radius: 50%;
    background: linear-gradient(135deg, #f69ecd, #feb47b, #ff6a88);
    padding: 14px;
    
}
b{
    color: rgb(208, 4, 110);
}
#hero{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    justify-content: space-between;}

.inimg{
    display: flex;
    flex-direction: column-reverse;
  width: 40vw;
  height: 40vw;
  padding: 30px;
  margin: 2vw;
  
  border-radius: 25%;

    

}
img{
   height: inherit;
   border: solid,#414141,2px;
   padding: 20px;
   width: inherit;
   border-radius: 25%;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    align-self:flex-end;
    height: 30px;
    width: 40px;
    background: #4d4d4d;
    opacity: 80%;
    border-radius: 25%;
    position: absolute;





}
#text{
    margin: 2vw;
    
}
#text h1{
    font-size: 4vw;
}
.text{
    font-size:2vw;
}